// 
// GLOBAL
// 
// ----------------------------------------------------------
// spacing
.px1 {
    padding-left: $global-unit;
    padding-right: $global-unit
}

.mx1 {
    margin-left: $global-unit;
    margin-right: $global-unit
}

.py1 {
    padding-top: $global-unit;
    padding-bottom: $global-unit
}

.my1 {
    margin-top: $global-unit;
    margin-bottom: $global-unit
}

// ----------------------------------------------------------
// font
body {
    font-size: $base-font-size;
    font-family: $font-stack;
	line-height: $line-height;
	// font-size: $global-unit-modifier;
}

@mixin btn($btn){
	background-color: $btn;
	color: $btn;
	border-color: $btn;
	&:hover{
		background-color:darken($btn,10%);
		transition: all 0.333s ease;
	}
	&:active{
		background-color: darken($btn,25%);
	}
}
